.shakers#shakers
  .container
    .shakers-list
      .shakers__item
        .shakers__title Zen
        a.shakers__image(href='./images/shaker1.png' data-fancybox='gallery')
          img(src='./images/shaker1.png')
      .shakers__item
        .shakers__title Hercules
        a.shakers__image(href='./images/shaker2.png' data-fancybox='gallery')
          img(src='./images/shaker2.png')
      .shakers__item
        .shakers__title Zen
        a.shakers__image(href='./images/shaker1.png' data-fancybox='gallery')
          img(src='./images/shaker1.png')
      .shakers__item
        .shakers__title Zen
        a.shakers__image(href='./images/shaker1.png' data-fancybox='gallery')
          img(src='./images/shaker1.png')
      .shakers__item
        .shakers__title Hercules
        a.shakers__image(href='./images/shaker2.png' data-fancybox='gallery')
          img(src='./images/shaker2.png')
      .shakers__item
        .shakers__title Zen
        a.shakers__image(href='./images/shaker1.png' data-fancybox='gallery')
          img(src='./images/shaker1.png')
