.shakers-list#shakers
  .shakers-list__item
    .shakers-list__title Zen
    .shakers-list__image
      img(src='../images/shaker1.png')
  .shakers-list__item
    .shakers-list__title Hercules
    .shakers-list__image
      img(src='../images/shaker2.png')
  .shakers-list__item
    .shakers-list__title Zen
    .shakers-list__image
      img(src='../images/shaker1.png')
  .shakers-list__item
    .shakers-list__title Zen
    .shakers-list__image
      img(src='../images/shaker1.png')
