.shakers {
  border-bottom: 1px solid #1e91f7;

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 30px;
    border-right: 1px solid #1e91f7;

    @media(max-width: 576px) {
      border-right: 0;
      border-left: 0;
    }
  }

  &__title {
    color: #315479;
    font-size: 20px;
    font-weight: 900;
    line-height: 26.66px;
    text-transform: uppercase;
    letter-spacing: -0.64px;
    text-align: center;
    display: flex;
    padding-top: 8px;
    padding-bottom: 25px;
  }

  &__image {
    display: flex !important;
  }

  .slick-prev,
  .slick-next {
    width: 28px;
    height: 28px;
    z-index: 5;
    background-image: url("../images/arrow_left.png");

    &:before {
      display: none;
    }

    &:hover {
      opacity: .5;
      background-image: url("../images/arrow_left.png");
    }
  }

  .slick-prev {
    left: -50px;

    @media(max-width: 1360px) {
      left: 0;
    }
  }

  .slick-next {
    right: -50px;
    transform: rotateY(180deg) translateY(-50%);

    @media(max-width: 1360px) {
      right: 0;
    }
  }

  .slick-list {
    border-right: 1px solid #1e91f7;
    border-left: 1px solid #1e91f7;

    @media(max-width: 1300px) {
      border-right: 0;
      border-left: 0;
    }
  }

  //.slick-slide {
  //  opacity: 0;
  //}
  //
  //.slick-slide.slick-active {
  //  opacity: 1;
  //}

}

