.shakers-list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #1e91f7;

  &__item {
    width: 100%;
    max-width: 297px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px solid #1e91f7;
    padding-top: 25px;
    padding-bottom: 16px;
  }

  &__title {
    color: #315479;
    font-size: 20px;
    font-weight: 900;
    line-height: 26.66px;
    text-transform: uppercase;
    letter-spacing: -0.64px;
  }

  &__image {
    display: flex;
  }
}
