section.faq#faq
  .container.faq__container
    h2.faq__title What our clients are saying
    ul.faq__list
        li.faq__item
          .faq__citation
            span.faq__mark “
            p.faq__description We chose shakerfactory for their efficiency and friendly sales team, get in touch with them and you’ll know what I mean.and friendly sales team, get in touch with them and you’ll know what I mean.
          .faq__signature Angelo Eu
          .faq__compamy Optimum Nutrition
        li.faq__item
          .faq__citation
            span.faq__mark “
            p.faq__description The two most significant benefits of Shakerfactory for me are the good prices and the high quality of products.
          .faq__signature Spiros Maragakis
          .faq__compamy X-Treme Stores
        li.faq__item
          .faq__citation
            span.faq__mark “
            p.faq__description To future clients I would say that Shakerfactory has both good personal service and good prices.
          .faq__signature Arnlaugur Einarsson
          .faq__compamy Allilja Ehf
