.main-banner {
  background: #1e8aef;
  padding-bottom: 55px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;

    @media(max-width: 1200px) {
      justify-content: center;
    }
  }

  &__info,
  &__image {
    padding-left: 15px;
    padding-right: 15px;
  }

  &__image {
    margin-top: -26px;
    margin-left: 10px;

    @media(max-width: 1200px) {
      margin-top: 0;
      margin-left: 0;
    }
    @media(max-width: 1100px) {
      order: 0;
    }
  }

  &__info {
    width: 45%;
    color: #fff;
    padding-top: 80px;

    @media(max-width: 1100px) {
      order: 1;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
    }
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.72px;
  }

  &__description {
    color: #d2e7fb;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.89px;
    letter-spacing: -0.3px;
    padding-top: 16px;
    //padding-right: 75px;
  }

  &__actions {
    padding-top: 21px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    color: #95c9fb;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.89px;
    text-decoration: underline;
    letter-spacing: -0.28px;
    padding-top: 11px;
  }

  &__clients {
    padding-top: 47px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 1100px) {
      order: 2;
      flex-direction: column;
    }

    &-slogan {
      padding-left: 142px;
      padding-right: 38px;
      color: #a3d0fc;
      font-size: 15px;
      font-weight: 400;
      line-height: 24.89px;
      letter-spacing: -0.3px;

      @media(max-width: 1200px) {
        padding-left: 38px;
      }
    }

    &-labels {
      display: inline-flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

.main-banner__clients-label+.main-banner__clients-label {
  margin-right: 35px;
}
