.main-banner
  include ../main-header/main-header

  .container.main-banner__container
    .main-banner__info
      h1.main-banner__title Custom & Private Label Shaker Bottles
      p.main-banner__description The World's Largest Selection of Private Label Shaker Bottles, Pill organizers, and other Promotional Fitness Items. Customize with your company logo and colors.
      .main-banner__actions
        button.button View all shakers
        a.main-banner__link(href='#') Watch how it works

    .main-banner__image
      img(src='../images/main-banner-image.png')
