.main-banner
  include ../main-header/main-header

  .container.main-banner__container
    .main-banner__info
      h1.main-banner__title Custom & Private Label Shaker Bottles
      p.main-banner__description The World's Largest Selection of Private Label Shaker Bottles, Pill organizers, and other Promotional Fitness Items. Customize with your company logo and colors.
      .main-banner__actions
        a.button(href='#shakers') View all shakers
        a.main-banner__link(href='#') Watch how it works

    .main-banner__image
      img(src='./images/main-banner-image.png')

    .main-banner__clients
      p.main-banner__clients-slogan Over 3,000,000 shakers shipped to date.
      ul.main-banner__clients-labels
        li.main-banner__clients-label
          img(src='./images/brand1.png')
        li.main-banner__clients-label
          img(src='./images/brand2.png')
        li.main-banner__clients-label
          img(src='./images/brand3.png')
        li.main-banner__clients-label
          img(src='./images/brand4.png')
        li.main-banner__clients-label
          img(src='./images/brand5.png')
        li.main-banner__clients-label
          img(src='./images/brand6.png')
