section.accessories#accessories
  .container.accessories__container
    h2.accessories__title We supply shakers and accessories to some of the largest name brands in the supplement industry.
    .accessories__wrapper
      .accessories__item
        .accessories__description
          h3.accessories__caption Custom design & Free mockups
          p.accessories__text Our shaker bottles comes in various shapes and sizes, and can be custom-designed from over 20 molds.
          p.accessories__text All shakers are customizable with your logo and any color on lid and body, and we provide free mockups of yourshaker prior to sampling.
        .accessories__image
          img(src='./images/acessories1.png')

      .accessories__item
        .accessories__description
          h3.accessories__caption Door to Door Pricing
          p.accessories__text Our shaker bottles comes in various shapes and sizes, and can be custom-designed from over 20 molds.
          p.accessories__text All shakers are customizable with your logo and any color on lid and body, and we provide free mockups of yourshaker prior to sampling.
        .accessories__image
          img(src='./images/acessories2.png')
