section.about#about
  .container.about__container
    h2.about__title We supply shakers to some of the largest name brands in the supplement industry.
    p.about__description View our large selection of Shakers and get started on your own design today.
    a.button.about__button(href='#shakers') View our selection
