.social-media
  a(href='#').social-media__item
    img(src='../images/socialmedia_facebook.png')
  a(href='#').social-media__item
    img(src='../images/socialmedia_linkedin.png')
  a(href='#').social-media__item
    img(src='../images/socialmedia_youtube.png')
  a(href='#').social-media__item
    img(src='../images/socialmedia_twitter.png')
  a(href='#').social-media__item
    img(src='../images/socialmedia_instagram.png')
