ul.social-media
  li.social-media__item.social-media__item_facebook
    img(src='../images/socialmedia_facebook.png')
  li.social-media__item.social-media__item_linkedin
    img(src='../images/socialmedia_linkedin.png')
  li.social-media__item.social-media__item_youtube
    img(src='../images/socialmedia_youtube.png')
  li.social-media__item.social-media__item_twitter
    img(src='../images/socialmedia_twitter.png')
  li.social-media__item.social-media__item_instagram
    img(src='../images/socialmedia_instagram.png')
