.main-footer {
  display: flex;
  padding-top: 68px;
  padding-bottom: 93px;

  @media(max-width: 768px) {
    padding-bottom: 30px;
  }

  &__list {
    display: flex;
    margin-left: 22px;
    flex-wrap: wrap;
    max-width: 1000px;

    @media(max-width: 992px) {
      justify-content: center;
      margin-left: 0;
    }
  }

  &__item {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 331px;
    width: 100%;
  }

  &__title {
    color: #3974ca;
    font-size: 13px;
    font-weight: 700;
    line-height: 22.89px;
    text-transform: uppercase;
    letter-spacing: -0.25px;
    display: flex;
  }

  &__description {
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.89px;
    letter-spacing: -0.3px;
    display: flex;
    padding-top: 3px;
  }

  &__signature {
    padding-top: 33px;
    margin-left: 52px;
    display: flex;
    align-items: center;

    @media(max-width: 992px) {
      margin-left: 0;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__copyright {
    color: #323232;
    font-weight: 400;
    line-height: 21.89px;
    letter-spacing: -0.5px;
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    text-align: center;
  }
}

