footer.main-footer#contact
  .container.main-footer__container
    ul.main-footer__list
      li.main-footer__item
        .main-footer__title Shakerfactory
        p.main-footer__description A one-stop shop for all branding and promotional merchandise for the health and fitness industries.
      li.main-footer__item
        .main-footer__title Contact
        p.main-footer__description Contact us at info@shakerfactory.com or by Skype at paul.shakerfactory
      li.main-footer__item
        .main-footer__title Social
        include ../social-media/social-media
    .main-footer__signature
      .main-footer__share
        img(src='../images/signature_share.png')
      .main-footer__copyright © 2018 - Shakerfactory Ltd. All Rights Reserved
