.nav {
  display: flex;
  align-items: center;

  &__link {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.27px;
    color: #d2e7fb;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;


    &:hover {
      text-decoration: underline;
    }

  }

}
