.main-header {
  min-height: 97px;
  display: flex;

  &__container {
    display: flex;
  }

  &__logo {
    display: flex;
    align-items: center;
    min-width: 217px;
  }

  &__nav {
    display: flex;
    padding-top: 5px;
  }


}
